.layout { 
    transform: scale(0.75); 
   -webkit-transform: scale(0.75);
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
   width:135%;
}
.left, .btn, #list, #chart-header, .table>thead>tr>th:last-child, .table>tbody>tr>td:last-child{
	display:none;
}
.list{
	border: 0 !important;overflow: initial;
}
.p-header{
	display:block;
	background:#452344 !important;
}
.table>tbody>tr>th:first-child{
    font-weight: normal;
}
.table>thead>tr>th {
    border-bottom: 2px solid #452344;
}