body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.container {
  max-width: 400px;
  background-color: #eeeeee;
  border: 1px solid black;
}

.header {
  text-align: center;
}

/* custom */

body{
	height:100%;
}
.navbar-brand{
	color: #FFF;
	background: #4C9FD8;
	height:51px;
}
.navbar-brand:hover{
	color:#FFF;
}
.navbar{
	border-bottom: 1px solid #4C9FD8;
	margin-bottom: 0;
}
.navbar-collapse{
	border-top: 1px solid #ff9900;
}
.icon-bar{
	background: #4C9FD8;
}
.navbar-toggle{
	border-left: 1px solid #4C9FD8;
	border-right: 1px solid #4C9FD8;
}
.navbar-nav>li>a:focus{
	color: #4C9FD8;
	background: none;
}
.navbar-nav>li>a:hover{
	color: #4C9FD8;
	background: none;
}
.navbar-nav>li>a.active{
	color: #FFF;
	background: #FF9900;
}
.layout{
	padding: 0;
}
.left{
	border-right: 1px solid #4C9FD8;
	overflow-y: scroll;
	overflow-x: hidden;
}
.list{
	padding: 0;
	border-bottom: 1px solid #4C9FD8;
	overflow-y: scroll;
}
.list > h3{
	padding: 0px 15px;
}
.table>thead>tr>th{
	border-bottom: 2px solid #FF9900;
}
.ui-sortable-handle{
	cursor:pointer;
}
.contents{
	padding: 0;
	display: none;
}
.divide{
	background: #4C9FD8;
	//width:100%;
	height:5px;
	display:none;
	cursor: row-resize;
}
#q_left{
	border-bottom: 1px solid #4C9FD8;
	background: #f4f5f6;
	color: grey;
	display: flex;
	padding:0;
}
#q_left > i{
	padding: 10px 14px;
	font-size: 20px;
	color: #FFF;
	margin-right:10px;
	background:#4C9FD8;
}
#q_left > p{
	margin-top: 10px;
	margin-right: 10px;
}
#iframe{
	display: none;
}
iframe, object, embed {
	max-width: 100%;
}
::-webkit-scrollbar {
	width: 12px;
}
 
::-webkit-scrollbar-track {
	border-left:1px solid #4C9FD8; 
	border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 12px #4C9FD8; 
}

.loader { 
	position: relative; 
	width: 12px * 3 + 8px;
	height: 8px; 
	margin: 12px 15px; 
}

.dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px * 0.5;
	background: #ccc;
	position: absolute;
}

.dot_1 {
	animation: animateDot1 1.5s linear infinite;
	left: 12px;
	background: #e579b8; 
}

.dot_2 {
	animation: animateDot2 1.5s linear infinite;
	animation-delay: 1.5s / 3;
	left: 12px * 2;
}

.dot_3 {
	animation: animateDot3 1.5s linear infinite;
	left: 12px;
}

.dot_4 {
	animation: animateDot4 1.5s linear infinite;
	animation-delay: 1.5s / 3;
	left: 12px * 2;
}

@keyframes animateDot1 {
	0%{ transform: rotate(0deg) translateX(-12px); }
	25% { transform: rotate(180deg) translateX(-12px); }
	75% { transform: rotate(180deg) translateX(-12px); }
	100% { transform: rotate(360deg) translateX(-12px); }
}

@keyframes animateDot2 {
	0%{ transform: rotate(-0deg) translateX(-12px); }
	25% { transform: rotate(-180deg) translateX(-12px); }
	75% { transform: rotate(-180deg) translateX(-12px); }
	100% { transform: rotate(-360deg) translateX(-12px); }
}

@keyframes animateDot3 {
	0%{ transform: rotate(0deg) translateX(12px); }
	25% { transform: rotate(180deg) translateX(12px); }
	75% { transform: rotate(180deg) translateX(12px); }
	100% { transform: rotate(360deg) translateX(12px); }
}

@keyframes animateDot4 {
	0%{ transform: rotate(-0deg) translateX(12px); }
	25% { transform: rotate(-180deg) translateX(12px); }
	75% { transform: rotate(-180deg) translateX(12px); }
	100% { transform: rotate(-360deg) translateX(12px); }
}
.m_info_header{
	padding:15px;
	color:#ff9900;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}
.jstree-anchor{
	width:100%;
}
#view_left{
	cursor:pointer;
}
.p-header{
	display:none;
	background:#452344
}
/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 768px) {
	.jstree-default .jstree-closed>.jstree-ocl{
		//display:none !important;
		background-image:none !important;
		position: absolute;
		width: 100%;
	}
	.jstree-default .jstree-open>.jstree-ocl{
		background-image:none !important;
		position: absolute;
		width: 100%;
	}
	.jstree-default .jstree-leaf>.jstree-ocl{
		display:none !important;
		background-image:none !important;
	}
	.jstree-default .jstree-node{
		background-image:none !important;
	}
	.left{
		padding:0;
	}
}
