<!DOCTYPE html>
<html ng-app="nodeTodo">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Assignment Test">
	<meta name="author" content="Fadhil ismail">

	<title>Assignment Test | Fadhil Ismail</title>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
  </head>
  <body ng-controller="mainController">
	
	<div class="navbar navbar-static-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">FI</a>
		</div>
		<div class="collapse navbar-collapse" style="background:#452344">
			<ul class="nav navbar-nav">
				<li><a href="#" class="active">Finance APP</a></li>
			</ul>
			<a href="#" class="pull-right"><img src="images/logo.png" style="height:50px;padding:5px"></a>
		</div>
	</div>
	<div class="p-header" style='padding:20px'>
		<img src='images/logo.png' width='auto' height='60mm'/>
		<h3 style='color:#fff !important; float:right'>Expenses</h3>
	</div>
	<div class="layout col-xs-12 col-md-12">
		<div class="left col-xs-12 col-sm-4 col-md-2" style="padding:0">
			<button class="btn btn-md btn-info" type="button" data-toggle="modal" data-target="#modalUser" style="border-radius: 0;width:100%">Add New User</button>
			<div id="left_list" style="padding: 15px;">
				<ul ng-repeat="user in userData">
					<li ng-click="getUserExpenses(user.id)">{{ user.name }}</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-10" style="padding:0">
			<div id="list" class="list col-xs-12 col-md-12">
				<button class="btn btn-md btn-info pull-left" type="button" data-toggle="modal" data-target="#modalExpense" style="border-radius: 0;">Add New Expense</button>
				<h6 class="pull-left" style="padding-left:10px">{{ simpleText.currentUser }}</h6>
				<a class="btn btn-md btn-info pull-right" type="button" style="background-color: #f0545d;border-color: #f0545d;border-radius: 0;" ng-click="exportPDF()" target="_self">Export to PDF</a>
			</div>
			<div class="col-xs-12 col-md-12 divide"></div>
			<div class="list col-xs-12 col-md-12">
				<div style="padding-top:15px;padding-bottom:15px;">
					<div id="chart-header" class="col-md-12" style="margin-bottom:10px">
						<h4 class="pull-left">Chart</h4>
						<div class="pull-right">
							<h6 class="pull-left" style="padding-right:10px">{{ simpleText.nowIs }}</h6>
							<button class="btn btn-sm btn-default" ng:click="change1()">Day</button>
							<button class="btn btn-sm btn-default" ng:click="change2()">Month</button>
							<button class="btn btn-sm btn-default" ng:click="change3()">Year</button>
						</div>
					</div>
					
					<div id="chart_div" style="float: left; width: 100%" ng:model="data" 
					 qn:columns="[
						{type:'string', name: 'Date'}, 
						{type:'number', name: 'Expense'}]" 
					 qn:piechart="{
						legend : {position: 'none'}, 
						height: {height: 400},
						}">
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-12">
				<div class="expense-list">
					<table class="table table-striped">
						<thead> 
							<tr>  
								<th>User</th> 
								<th>Notes</th> 
								<th>Amount</th> 
								<th>Date</th> 
								<th>Action</th> 
							</tr> 
						</thead> 
						<tbody> 
							<tr ng-repeat="expense in expenseData"> 
								<td>{{ expense.User.name }}</td> 
								<th>{{ expense.name }}</th>
								<td>{{ expense.amount }}</td> 
								<td>{{ expense.dateexpense | date:'yyyy-MM-dd H:mm' : 'UTC' }}</td> 
								<td>
									<button class="btn btn-xs btn-danger" ng-click="deleteExpense(expense.id)">X</button>
									<button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#editExpense" ng-click="getExpense(expense.id)">Edit</button>
								</td> 
							</tr> 
						</tbody> 
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal User -->
	<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title text-center" id="myModalLabel">Add New User</h4>
		  </div>
		  <div class="modal-body">
			<div class="user-form">
				<form>
					<div class="form-group">
						<input type="text" class="form-control input-lg" placeholder="Type a Name..." ng-model="formData.name">
					</div>	
					<div class="form-group">
						<input type="email" class="form-control input-lg" placeholder="Email..." ng-model="formData.email">
					</div>
					<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createUser()">Add User</button>
				</form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	
	<!-- Modal Expense -->
	<div class="modal fade" id="modalExpense" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title text-center" id="myModalLabel">Add New Expense</h4>
		  </div>
		  <div class="modal-body">
			<div class="todo-form">
				<form>
					<div class="form-group">
						<input type="text" class="form-control input-lg" placeholder="Notes..." ng-model="formData.name">
					</div>	
					<div class="form-group">
						<input type="number" class="form-control input-lg" placeholder="Enter Expense..." ng-model="formData.amount">
					</div>	
					<div class="form-group">	
						<input type="date" class="form-control input-lg" placeholder="Enter Date..." ng-model="formData.dateexpense">
					</div>	
					<div class="form-group">
						<select class="form-control" ng-model="formData.user_id">
							<option ng-repeat="user in userData" value="{{ user.id }}">{{ user.name }}</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createExpense()">Add Expense</button>
				</form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	
	<!-- Modal Edit Expense -->
	<div class="modal fade" id="editExpense" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title text-center" id="myModalLabel">Edit Expense</h4>
		  </div>
		  <div class="modal-body">
			<div class="edit-form">
				<form>
					<div class="form-group">
						<input type="text" class="form-control input-lg" placeholder="Notes..." ng-model="singelExpense.name">
					</div>	
					<div class="form-group">
						<input type="number" class="form-control input-lg" placeholder="Enter Expense..." ng-model="singelExpense.amount">
					</div>	
					<div class="form-group">	
						<input type="date" class="form-control input-lg" data-date-format="mm/dd/yyyy" placeholder="Enter Date..." ng-model="singelExpense.dateexpense">
					</div>	
					<div class="form-group">
						<select class="form-control" ng-model="singelExpense.UserId">
							<option ng-repeat="user in userData" value="{{ user.id }}">{{ user.name }}</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="editExpense(singelExpense.id)">Edit Expense</button>
				</form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	
    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js"></script>
	<script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
	<script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script src="javascripts/app.js"></script>
	<script type="text/javascript">
		google.load('visualization', '1.0', { 'packages': ['corechart'] });
		
		is_mobile = false;
		i_width = $(window).width();
		i_height = $(window).height();
		h = i_height-54;
		$('.m_info_header').remove();
		if(i_width >= 768){ 
			$('.left').height(h);
		}else if(i_width > 480){ //for tablet
			is_mobile = true;
			$('.left').height(h-10);
		}else{ //for mobile
			$('.left').height(h-10);
		}
		
	</script>
  </body>
</html>