doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript', src='../javascripts/client.js')
  body
    block content