extends layout
block content
	h1= title
	form#user-from(method="post")
		input(type="number", placeholder="2", name="user_id")
		input(type="text", placeholder="to do", name="title")
		input(type="submit", value="Submit")
